<div class="category__form">
  <h1>新しいカテゴリーを追加する</h1>
  <%= form_for @category, url: admin_categories_path do |f| %>
    <p class="category__form--field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p class="category__form--button">
      <%= f.submit class: "button"%>
    </p>
  <% end %>
</div>
