<h1>新しいカテゴリーを追加する</h1>

<%= form_for @category do |f| %>

  <p class="form">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p class="button">
    <%= f.submit %>
  </p>

<% end %>
