// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-detail{
  display: none;
}

.taken_menus{
  background: #FF9935;
  padding: 0 1em 1em;
  min-height: 100%;
  height: inherit;
  &__title{
    margin: 0;
    color: #fff;
    padding: 2em 0 1.5em;
    box-sizing: border-box;
    font-weight: 700;
  }
  &__item--wrapper{
    $line-height: 22px;
    background-color: #fff;
    border-radius: 15px;
    clear: both;
    height: calc(#{$line-height} + 20px);
    margin: 5px 0;
    &__child{
      padding: 10px;
      display: inline;
      position: absolute;
      line-height: #{$line-height};
      font-size: 1.2em;
      &:nth-child(2){
        left: 75px;
      }
    }
    div[data-react-class="Activity"]{
      display: inline;
      float: right;
      padding: 10px;
      border-left: 1px solid #FF9935;
      line-height: #{$line-height};
    }
  }
}

.taken_menu{
  position: relative;
  display: inline;
  &__btn{
    display: inline;
    font-size: 1.2em;
  }
  &__detail{
    position: fixed;
    top: 50px;
    left: 5%;
    right: 5%;
    bottom: 50px;
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    min-width: 90%;
    padding: 10px;
    &--date, &--name, &--desc, &--price, &--calorie{
      
    }
    &--pic{
      width: 100%;
    }
    &--btn{
      cursor: pointer;
      background: #000;
      height: 50px;
      color: #fff;
    }
  }
}

.clicked{
  &_true{
  }
  &_false{
    display: none;
  }
}

.transparent{
  color: transparent;
}
