// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu-detail{
  background-color: #FF9935;
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;
  padding: 40px 0 20px;
  &__name{
    color: #fff;
    font-weight: 700;
    padding: 20px 5px 15px;
    margin: 0;
  }
  &__item{
    background-color: #fff;
    margin: 10px 5px;
    padding: 15px 10px;
    border-radius: 5px;
    &--desc{
      margin: 0;
    }
    &--title{
      font-weight: 700;
      font-size: 1.2em;
    }
    &--price{
    }
    &--calorie{

    }
    &--picture{
      width: 100%;
      height: auto;
    }
  }
  &__restaurant{
    background-color: #fff;
    margin: 10px 5px;
    padding: 15px 10px;
    border-radius: 5px;
    &--title{
      margin: 5px 0;
      font-size: 1.2em;
      font-weight: 700;
    }
    &--name{
      margin: 5px 0 3px;
      font-size: 1.1em;
    }
    &--zip_code{
      margin: 0;
    }
    &--address{
      margin: 0;
    }
  }
  &__back_to_top--from_menu{
    margin: 15px 0 0;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: underline;
  }
}

#menu-detail__restaurant--map { height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 80%;}
