// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin tags-list($cat-list-font-size){
  .tags{
    background: #FF9935;
    height: 100%;
    min-height: 100%;
    padding: 0 1em;
    &-list{
      &__item{
        &--name{
          font-size: $cat-list-font-size;
          font-weight: 700;
          line-height: 1.7em;
          padding: 1.1em 0.5em;
          margin: 0.5em auto;
          border: 3px solid #FFF;
          border-radius: 0.5em;
          background: #FFF;
          color: #553;
        }
        &--menu{
          border: 3px solid #FFF;
          border-radius: 0.5em;
          background: #FFF;
          color: #553;
          text-decoration: none;
          display: block;
          padding: 0.7em;
          margin: 0.5em 0;
          &-name{
            display: inline-block;
            font-size: 1.6em;
            font-weight: 700;
            padding: 0 0.5em 0 0;
          }
          &-kcal{
            font-size: 1em;
            display: inline-block;
            padding: 0 0.5em 0 0;
          }
          &-price{
            font-size: 1em;
            display: inline-block;
          }
          &-desc{
            font-size: 1.2em;
            clear: both;
            display: block;
            margin: 0.3em 0 0;
            text-overflow: ellipsis;
            text-decoration: none;
          }
          &-pic{
            display: block;
            margin: 0.3em 0 0;
            max-width: 300px;
            // TODO
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  .tags{
    &-title{
      color: #fff;
      padding: 2.3em 0 1.7em;
      box-sizing: border-box;
      &__line1, &__line2{
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.5em;
      }
    }
  }
  @include tags-list($cat-list-font-size: 1.3em);
}

@media screen and (min-width: 321px){
  .tags{
    padding: 0 1.5em;
    &-title{
      color: #fff;
      padding: 3em 0 2.5em;
      &__line1, &__line2{
        font-size: 2em;
        font-weight: 700;
        line-height: 1.7em;
      }
    }
  }
  @include tags-list($cat-list-font-size: 1.5em);
}

.tags-names {
  padding: 0;
  position: relative;
}

.tags-names .tag-name {
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none!important;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #dadada 100%);/*グラデーション*/
  text-shadow: 1px 1px 1px whitesmoke;/*文字を立体的に*/
  color: black;
}

.tags-names .tag-name:before { /*疑似要素*/
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  position: absolute;
  left : 0.5em; /*左端からのアイコンまでの距離*/
  color: orange; /*アイコン色*/
}
