<h1>どんなランチが食べたいですか？</h1>
<% json = @categories.preload(:menus).map { |category| category.as_json.merge({menus: category.menus.as_json}) } %>
<%= react_component("CategoryMenuList", categories: json) %>
