<div class="categories">
  <div class="categories-title">
    <div class="categories-title__line1">どんなランチが</div>
    <div class="categories-title__line2">食べたいですか？</div>
  </div>
  <%= react_component("CategoryMenuList", categories: @json) %>
</div>
