<div class="taken_menus">
  <h1 class="taken_menus__title">今月食べたメニュー</h1>

  <% @menus.each do |menu| %>
    <div class="taken_menus__item--wrapper">
      <div class="taken_menus__item--wrapper__child">
        <%= date = @menu_ids_with_date[menu.id].to_date.to_s.gsub("-","/").slice(5..9) %>
      </div>
      <div class="taken_menus__item--wrapper__child">
        <%= menu.name %>
      </div>

      <%= react_component("Activity", menu_id: menu.id, date: date) %>
    </div>
  <% end %>
</div>
