<h1>今月食べたメニュー</h1>

<% @menus.each do |menu| %>
  <div><%= date = @menu_ids_with_date[menu.id].to_date.to_s.gsub("-","/").slice(5..9) %></div>
  <div><%= menu.name %></div>
  <%= react_component("Activity", menu_id: menu.id, date: date) %>
<% end %>
