<div class="thanks">
  <div class="thanks-msg">使ってくれて</div>
  <div class="thanks-msg">ありがとう！</div>
  <%= link_to "あなたのアクティビティへ", activities_path, class: "thanks-link thanks-link__act" %>
  <%= link_to "TOPへ戻る", root_path, class: "thanks-link thanks-link__top" %>
</div>
