<button class="openMenuBtn" onClick="openMenu();">
  <span class="openMenuBtn-hamburger"></span>
  <span class="openMenuBtn-hamburger"></span>
  <span class="openMenuBtn-hamburger"></span>
</button>
<header>
  <div class="container navbar navbar-fixed-top navbar-inverse">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Healtheats", '/', id: "logo" %></li>
        <li><%= link_to "Tags", "#" %></li>
        <li><%= link_to "Activities", activities_path %></li>
        <li><%= link_to "Log in", login_path %></li>
        <button class="closeMenuBtn" onClick="closeMenu();">close</button>
      </ul>
    </nav>
  </div>
</header>
